.csharp { position: relative; }
.csharp .lines { width: 45px; position: absolute; top: 0; left: 0; bottom: 0; border-right: 1px solid #A5A5A5; overflow: hidden; }
.csharp .lines .ones { background: url(../lines/vs2010-lines-1s.gif) repeat-y; width: 7px; position: absolute; top: -16px; right: 10px; bottom: 0; }
.csharp .lines .tens { background: url(../lines/vs2010-lines-10s.gif) repeat-y; width: 7px; position: absolute; top: 144px; right: 17px; bottom: 0; }
.csharp .lines .hund { background: url../(lines/vs2010-lines-100s.gif) repeat-y; width: 7px; position: absolute; top: 1584px; right: 24px; bottom: 0; }
/*.csharp .line-numbers .thou { background: url(../lines/vs2010-lines-1000s.gif) repeat-y; width: 7px; position: absolute; top: 0; right: 31px; bottom: 0; } */
.csharp .content { white-space: pre; font-family: Consolas, Arial; font-size: 13px; line-height: 16px; margin-left: 53px; }
.csharp .content .type { color: #2B91AF; }
.csharp .content .keyword { color: #0000FF; }
.csharp .content .comment, .c-sharp .content .comment * { color: #008000 !important; }
.csharp .content .doc-comment, .c-sharp .content .doc-comment * { color: #808080 !important; }
.csharp .content .string, .c-sharp .content .string * { color: #A31515 !important; }
.csharp .content br { display: none; }