.python { position: relative; background-color: #272822; }
.python .lines { width: 45px; position: absolute; top: 10px; left: 0; bottom: 10px; overflow: hidden; }
.python .lines .ones { background: url(../lines/python-monokai-lines-1s.gif) repeat-y; width: 7px; position: absolute; top: 0px; right: 10px; bottom: 0; }
.python .lines .tens { background: url(../lines/python-monokai-lines-10s.gif) repeat-y; width: 7px; position: absolute; top: 144px; right: 17px; bottom: 0; }
/*.python .line-numbers .hund { background: url(../lines/python-monokai-lines-100s.gif) repeat-y; width: 7px; position: absolute; top: 1584px; right: 24px; bottom: 0; }*/
/*.python .line-numbers .thou { background: url(../lines/python-monokai-lines-1000s.gif) repeat-y; width: 7px; position: absolute; top: 0; right: 31px; bottom: 0; } */
.python .content { white-space: pre; font-family: Consolas, Arial; font-size: 13px; line-height: 16px; margin: 0 0 0 53px; color: #F6F3E8; padding-top: 10px; padding-bottom: 10px; }
.python .content .type { color: #66D9EF; }
.python .content .keyword { color: #F92672; }
.python .content .comment, .python .content .comment * { color: #75715E !important; }
.python .content .string, .python .content .string .keyword, .python .content .string .type, .python .content .string .param { color: #89D150; }
.python .content .string-op { color: #AE81FF; }
.python .content .param { color: #FD971F; }
.python .content br { display: none; }

.code-border { border: 2px solid #DEDEDE; border-radius: 3px; }